<div class="grid">
  <section class="selection">
    <mat-form-field hidden class="date">
      <input matInput [matDatepicker]="picker" hidden (dateInput)="changeDay('input', $event)">
      <mat-datepicker touchUi #picker></mat-datepicker>
      <button mat-fab class="selection-btn" (click)="picker.open()"> <mat-icon svgIcon='calendar'></mat-icon> </button>
      {{Day | date}}
    </mat-form-field>
  </section>
  <section class="goals"> <app-goals></app-goals> </section>
  <section class="new-event">
    <app-add-new-ev [day]="myDate"> </app-add-new-ev>
  </section>
  <section class="calendar"> calendar </section>


</div>

