main {
  background-color: var(--color-medium-grey);
  border-radius: 30px;
  text-align: center;
  padding-top: 1vh;
  height: fit-content;
  width: auto;
  font-family: 'main', "Helvetica Neue", sans-serif !important;
}

.buttons {
  display: flex;
  font-size: 1vw;
  padding-right: 3vw;
  padding-left: 3vw;
}

#goals {
  font-size: 1vw;
  padding-right: 3em;
  padding-left: 3em;
  height: 4vh;
}

mat-icon {
  align-content: center;
  vertical-align: middle;
}

.list {
  font-size: 1vw;
  background-color: var(--color-medium-grey);
}

.fields {
  width: 90%;
  font-size: 1vw;
  background-color: transparent;
  display: block;
  margin-left: 8%;
  margin-right: 0;
  margin-top: 5%;
  font-family: 'main', "Helvetica Neue", sans-serif !important;
}

.catBtn {
  margin-right: 1em;
  margin-left: 1em;
  display: block;
}

.input {

  display: grid;
  font-size: 1vw;
  grid-template-columns: 80% 20%;
  font-family: 'main', "Helvetica Neue", sans-serif !important;
  background-color: transparent;
}

.mat-button {
  display: block;
  font-size: 1em;
  margin: auto;
  background-color: var(--color-light-grey-btn-background);
  font-family: 'main', "Helvetica Neue", sans-serif !important;
}

#scrollable {
  height: 16vh;
  overflow-y: auto;
  margin-top: 1vw;
}

::ng-deep .nav-tabs.nav-justified > li > a {
  color: black;
}

::ng-deep ngb-tab {
  border: 3px;
  border-color: black;
}

input {
  height: 1em;
  font-size: 1em;
}

mat-icon {
  color: var(--color-grey-icons);
  size: 0.5em;
}

h2 {
  justify-content: center;
  display: flex;
  padding-bottom: 1vh;
  font-family: 'main', "Helvetica Neue", sans-serif !important;
}

button {
  font-family: 'main', "Helvetica Neue", sans-serif !important;
}

.mat-list-item-content {
  font-size: 1vw;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  font-size: 0.8vw;
  height: 3em;
}
