.frame {
  background-color: var(--color-medium-grey);
  border-radius: 30px;
}


.schema {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20% 80%;
}

.text-from, .text-to, .time-from, .time-to, .btn {
  text-align: center;
  margin: auto;
  display: block;
}

.text-from {
  grid-column: 1;
  grid-row: 1;
}

.text-to {
  grid-column: 2;
  grid-row: 1;
}

.time-from {
  grid-column: 1;
  grid-row: 2;
}

.time-to {
  grid-column: 2;
  grid-row: 2;
}

.btn {
  grid-column: 3;
  grid-row: 2;
}


button {
  display: block;
  margin: auto;
  background-color: var(--color-light-grey-btn-background);
}

div {
  padding-bottom:2vh;
  padding-top: 1vh;
}

mat-icon {
  color: var(--color-grey-icons);
}

mat-form-field, .fields {
  background-color: transparent;
  display: block;
  margin-right: 10%;
  margin-left: 10%;
  font-family: 'main', "Helvetica Neue", sans-serif !important;
}

h2 {
  justify-content: center;
  display: flex;
  padding-bottom: 1vh;
}

mat-label {
  background-color: transparent;
}

mat-select {
  font-family: 'main', "Helvetica Neue", sans-serif !important;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
  display: block;
}

::ng-deep .mat-select-arrow {
  color: var(--color-outlines) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
  background-color: white;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 5px 5px 0;
  border-left-style: none;
  flex-grow: 1;
  background-color: white;
}

::ng-deep .mat-form-field-outline-start {
  background-color: white;
}

::ng-deep .btn-link {
  color: var(--color-toolbar);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, .12);
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--color-medium-grey) !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--color-outlines) !important;
}

::ng-deep .snackbar {
  background: #4F4E4E;
  color: white;
  text-align: center;
  display: block;
  margin: auto;
}
