.frame {
  background-color: var(--color-medium-grey);
  border-radius: 30px;
}

div {
  padding-bottom: 5%;
  padding-top: 5%;
}

mat-icon {
  color: var(--color-grey-icons);
}

mat-form-field, .fields {
  background-color: transparent;
  width: 80%;
  height: 10%;
  display: block;
  margin-right: 10%;
  margin-left: 10%;
  font-family: 'main', "Helvetica Neue", sans-serif !important;
}

button {
  display: flex;
  justify-content: center;
  margin: 2% auto 0;
  background-color: var(--color-light-grey-btn-background);

}

.schema {
  display: inline-table;
  width: 100%;
}

h1 {
  justify-content: center;
  display: flex;
  padding-bottom: 5%;
}

mat-label {
  background-color: transparent;
}

ngb-timepicker, .text {
  display: inline-flex;
  justify-content: center;
  padding: auto;
  width: 50%;
}

mat-select {
  font-family: 'main', "Helvetica Neue", sans-serif !important;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
  display: block;
}

::ng-deep .mat-select-arrow {
  color: var(--color-outlines) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
  background-color: white;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 5px 5px 0;
  border-left-style: none;
  flex-grow: 1;
  background-color: white;
}

::ng-deep .mat-form-field-outline-start {
  background-color: white;
}

::ng-deep .btn-link {
  color: var(--color-toolbar);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, .12);
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--color-medium-grey) !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--color-outlines) !important;
}

::ng-deep .snackbar {
  background: #4F4E4E;
  color: white;
  text-align: center;
  display: block;
  margin: auto;
}
