<section class="frame" [class.mat-elevation-z2]=true>
  <div>
    <h1 style="font-size:2vw;">create an event</h1>
    <form>
      <mat-form-field class="fields" appearance="outline">
        <input [(ngModel)]="name" name="event-name" type="text" matInput placeholder="name of the event">
      </mat-form-field>
      <mat-form-field class="fields" appearance="outline">
        <mat-select [(value)]="category" name="category" placeholder="category">
          <mat-option value="life">life</mat-option>
          <mat-option value="university">university</mat-option>
          <mat-option value="work">work</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <br>
    <section class="schema">
      <p class="text">FROM:</p>
      <p class="text">TO:</p>
    </section>
    <section class="schema">
      <ngb-timepicker [(ngModel)]="startTime"></ngb-timepicker>
      <ngb-timepicker [(ngModel)]="endTime"></ngb-timepicker>
    </section>
    <br>
    <br>
    <button mat-flat-button>
      <mat-icon (click)="addEvent(name, startTime, endTime, category)">add</mat-icon>
    </button>
  </div>
</section>

