<section class="frame" [class.mat-elevation-z2]=true>
  <div>
    <h2 style="font-size:1.5vw;">create an event</h2>
    <form>
      <mat-form-field class="fields" appearance="outline">
        <input [(ngModel)]="name" name="event-name" type="text" matInput placeholder="name of the event">
      </mat-form-field>
      <mat-form-field class="fields" appearance="outline">
        <mat-select [(value)]="category" name="category" placeholder="category">
          <mat-option value="life">life</mat-option>
          <mat-option value="university">university</mat-option>
          <mat-option value="work">work</mat-option>
          <mat-option value="project">project</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <section class="schema">
      <section class="text-from">FROM:</section>
      <section class="time-from">
        <ngb-timepicker [(ngModel)]="startTime"></ngb-timepicker>
      </section>
      <section class="text-to">TO:</section>
      <section class="time-to">
        <ngb-timepicker [(ngModel)]="endTime"></ngb-timepicker>
      </section>
      <section class="btn">
        <button mat-flat-button>
          <mat-icon (click)="addEvent(name, startTime, endTime, category)">add</mat-icon>
        </button>
      </section>
    </section>
  </div>
</section>

