mat-tab-group, .mat-tab-body-wrapper { height: 100%;}

img {
  border-radius: 50%;
  width: 25%;
  height: 25%;
  padding: 5%;
}

::ng-deep .mat-tab-body.mat-tab-body-active {
  overflow-y: hidden !important;
}









