/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

html, body {height: 100%; }
html {
  background-image: url("./assets/img/Background.svg");
}



body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
  --color-toolbar: #807297;
  --color-outlines: #4F4E4E;
  --color-medium-grey: #CDCDCD;
  --color-grey-icons: #8F8F8F;
  --color-light-grey-btn-background: #EAEAEA;
  --color-red: #DC3D62;
}

.mat-tab-group {
  height: 100px;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: black;
  height: 3px;
}
.mat-tab-label {
  background-color: #807297;
  color: black;
}

img {
  border-radius: 50%;
  width: 25%;
  height: 25%;
  padding: 5%;
}
