/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
  font-family: 'main', "Helvetica Neue", sans-serif !important;
}

body {
  margin: 0;
  background: url("./assets/img/Background.svg") no-repeat center center fixed;
  background-size: cover;
}

:root {
  --color-toolbar: #807297;
  --color-outlines: #4F4E4E;
  --color-dark-grey: #979696;
  --color-medium-grey: #CDCDCD;
  --color-grey-icons: #8F8F8F;
  --color-light-grey-btn-background: #EAEAEA;
  --color-lightest-grey: #eeeeee;
  --color-red: #DC3D62;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: black;
  height: 3px;
}

.mat-tab-body-wrapper {
  height: 100vh;
}

.mat-tab-label {
  background-color: #807297;
  color: black;
}

@font-face {
  font-family: main;
  src: url(assets/fonts/nevis.ttf) format("opentype");
}


